* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #411e2f;
    color: #ffffff;
}

h1 {
    font-size: 2.25em;
    color: #ff9a56;
}

p {
    font-size: 1.1em;
}

a {
    color: #21ffff;
    padding: 10px 25px;
    text-decoration: none;
    border: 2px #21ffff solid;
    font-weight: 600;
}

a:hover {
    color: #35081d;
    background-color: #21ffff;
    transition-duration: 0.3s;
}

header {
    background-color: #35081d;
    padding: 2%;
    color: white;
}

section {
    margin: 1% 10%;
}

footer {
    background-color: #35081d;
    padding: 2%;
    color: white;
}
